<h1 align="center">List of Bookmarks</h1>
<hr>
<%= link_to "Create a New Bookmark", new_bookmark_path, class: "new_bookmark" %>
<ul id="bookmarks">
  <% @bookmarks.each do |bookmark| %>
    <li>
      	<h3><%= link_to bookmark.title, bookmark_path(bookmark), class: 'bookmark_title', id: "bookmark_#{bookmark.id}" %></h3>
		<p><b>Link :</b> <%= link_to bookmark.link %></p>
		<p>
		  <b>Tags : </b>
		  <% bookmark.tags.each do |tag| %>
		    <%= link_to tag.name, tag_path(tag) %>
		  <% end %>
		</p>
    </li>
  <% end %>
</ul>


